@mixin links-mixin($color-text){
    transition: $standard-trans;
    text-decoration: none;
    color: $color-text;
}

@mixin spotiPlayerMid{
    grid-column: span 1;
}

@mixin spotiPlayerMobile{
    transition: $standard-trans;
    display: none;
}