// FONTS
// font-family: 'Allerta Stencil', sans-serif;
// font-family: 'Roboto', sans-serif; */



$font-titles: 'Allerta Stencil', sans-serif;

$font-par: 'Roboto', sans-serif;

$standard-trans: 0.5s;