@import "../utils/vars";
@import "../utils/lists";
@import "../utils/extend";
@import "../utils/mixin";


/* DISCOGRAFIA STYLES */

.albumsContainer{
    display: grid;
    gap: 1rem;
    justify-content: center;
    margin: 6% auto 10% auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    img{
        position: relative;
        width: 12.5rem;
        transition: $standard-trans;
        border-radius: 15%;
    }
    p{
        color: #fff;
        font-size: 1rem;
        font-family: $font-par;
        transition: $standard-trans;
    }
    a{
        text-decoration: none;
    }
    .albumItem{
        align-items: center;
        text-align: center;
        transition: 1s;
    }

    .albumItem:hover{
        transition: $standard-trans;
        opacity: 0.8;
        animation: breathe 5s infinite;
    }

    @keyframes breathe {
        0%{
            transform: scale(1);
        }
        25%{
            transform: scale(0.8);
        }
        50%{
            transform: scale(1.2);
        }
        75%{
            transform: scale(0.8);
        }
        100%{
            transform: scale(1);
        }
    }
}

/* WHEN ALBUMS COLLAPSE SCREENSIZE */

@media screen and (max-width:600px) {
    .albumsContainer{
        justify-content: center;
        margin: 6% auto 30% auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(15, 1fr);

        img{
            width: 250px;
            transition: $standard-trans;
        }
        p{
            font-size: 1.2rem;
            transition: $standard-trans;
        }
    }
}