@import "../utils/vars";
@import "../utils/lists";
@import "../utils/extend";
@import "../utils/mixin";

/* NAVBAR STYLES */

nav{
    .navBar{
        background-color: nth($dtColors , 1);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-right: 2%;
        font-family: $font-titles;
    }
    .logoLink{
        transition: $standard-trans;
        width: 8.5rem;
        margin-left: 1rem;
    }
    .logoLink:hover{
        transition: $standard-trans;
        opacity: 80%;
    }
    .navLinks{
        list-style: none;
        li{
            margin: 0.7rem 1rem auto;
            display: inline-block;
            a{
                @include links-mixin(#fff);
            }
            a:hover{
                @include links-mixin(nth($dtColors, 4));
                border-bottom: 1px solid nth($dtColors , 4);
            }
        }
    }

    // BURGER MENU
    .burgerStatus{
        display: none;
    }
    .navLinksBurger{
        display: none;
        list-style: none;
        img{
            width: 1rem;
        }
        li{
            a{
                @include links-mixin(#fff);
                font-size: .7rem;
            }
            a:hover{
                @include links-mixin(nth($dtColors, 4));
                border-bottom: 1px solid nth($dtColors , 4);
            }
        }
    }
    .collapse{
        .p-4{
            p{
                font-family: $font-par;
                color: nth($dtColors , 4);
                font-size: 0.5rem;
                display: none;
            }
        }
    }
}

@media screen and (max-width:768px){
    nav{
        .burgerStatus{
            display: block;
        }
        .navLinks{
            display: none;
        }
        .navLinksBurger{
            display: block;
        }
        .collapse{
            .p-4{
                p{
                    display: block;
                }
            }
        }
    }
}